:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(245, 15%, 58%);
  --color-gray-dark: hsl(245, 19%, 35%);
  --color-error: hsl(7, 88%, 67%);
  --color-error-bg: hsla(7, 88%, 67%, 0.3);
  --color-bg-light: hsla(245, 19%, 35%, 0.3);
  --color-bg-dark: hsla(245, 19%, 35%, 0.6);
  --color-btn-bg: hsl(7, 88%, 67%);
  --color-btn-bg-hover: hsl(7, 71%, 60%);
  --color-btn-text: hsl(248, 70%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inconsolata";
  margin: 0;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background: url("/assets/images/background-desktop.png") center/cover no-repeat;
  position: relative;
  color: var(--color-white);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: url("/assets/images/pattern-lines.svg") top/cover no-repeat;
  z-index: -1;
  opacity: 0.6;
}

body::after {
  content: "";
  position: absolute;
  bottom: -35vh;
  left: 0;
  width: 50%;
  height: 500px;
  background: url("/assets/images/pattern-squiggly-line-bottom-desktop.svg") no-repeat bottom left;
  background-size: 100%;
  pointer-events: none;
  z-index: -1;
}

.background-img {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.ribbon-top {
  top: 50px;
  left: 68%;
  width: 350px;
}

.circle-pattern-top {
  top: -50px;
  left: 50px;
  width: 150px;
}

main {
  flex: 1;
}

.logo {
  margin-top: 30px;
}

.heading {
  font-size: 2.5rem;
  margin: 30px 0 10px 0;
}

.subtext {
  font-size: 1rem;
  margin-bottom: 40px;
  color: var(--color-gray-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.information-symbol,
.error-information-symbol {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
}

.information-symbol {
  border: 1px solid var(--color-gray-dark);
}

.error-information-symbol {
  border: 1px solid var(--color-error);
}

fieldset {
  border: none;
  width: 32%;
  justify-self: center;
  text-align: left;
  margin: auto;
}

label {
  font-size: 20px;
  margin-bottom: 8px;
  display: block;
}

.upload-box {
  border: 2px dashed var(--color-gray-dark);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-bg-light);
  font-size: 13px;
  color: var(--color-gray-light);
  height: fit-content;
  display: grid;
  justify-items: center;
}

.upload-box:focus {
  outline: 1px solid var(--color-gray-light);
  outline-offset: 2px;
}

.upload-box:hover {
  background-color: var(--color-bg-dark);
}

.upload-info {
  font-size: 12px;
  color: var(--color-gray-light);
  margin: 5px 0 15px 0;
}

.image-display {
  display: none;
}

.image-btn {
  margin-top: 10px;
  padding: 3px 10px;
  color: var(--color-gray-light);
  background-color: var(--color-bg-light);
  border-radius: 5px;
  border: none;
}

.image-btn:hover {
  background-color: var(--color-bg-dark);
  cursor: pointer;
}

.avatar-error {
  margin-bottom: 15px;
}

.error-message {
  font-size: 12px;
  color: var(--color-error);
  display: none;
  margin-top: 5px;
}

.email-error {
  position: relative;
  top: -17px;
}

.input.error .input-box {
  border-color: var(--color-error);
}

.input.error .error-message,
.error-message.active {
  display: block;
}

.preview {
  margin-top: 20px;
  display: grid;
  justify-content: center;
}

#previewImage {
  max-width: 50px;
  display: none;
  margin-bottom: 10px;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
}

.input-box {
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--color-gray-dark);
  background-color: var(--color-bg-light) !important;
  color: var(--color-white);
  margin-bottom: 20px;
}

.input-box:focus {
  outline: 1px solid var(--color-gray-light);
  outline-offset: 2px;
}

.input-box:hover {
  background-color: var(--color-bg-dark);
}

.circle-pattern-middle {
  width: 150px;
  top: 53%;
  left: 65%;
}

.generate-ticket-btn {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border: none;
  border-radius: 15px;
  font-family: "Inconsolata";
  font-weight: bold;
}

.generate-ticket-btn:focus {
  outline: 1px solid var(--color-gray-light);
  outline-offset: 2px;
}

.generate-ticket-btn:hover {
  background-color: var(--color-btn-bg-hover);
}

footer {
  font-size: 0.75rem;
  margin: 20px 0;
  color: var(--color-gray-light);
}
.attribution a{
  color: white;
  text-decoration: none;
  
}

@media (max-width: 1024px) {
  body {
    background: url("/assets/images/background-tablet.png") center/cover no-repeat;
    width: 100vw;
  }

  .logo {
    width: 300px;
  }

  fieldset {
    width: 75%;
  }

  .heading {
    margin-top: 50px;
    font-size: 3rem;
  }

  .subtext {
    font-size: 1rem;
  }

  .ribbon-top {
    top: 95px;
    left: 54%;
  }

  body::before {
    opacity: 1;
  }

  label {
    font-size: 30px;
  }

  .upload-box {
    min-height: 160px;
    font-size: 15px;
    align-content: center;
    align-items: center;
  }

  .upload-info {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .input-box {
    margin-bottom: 40px;
    font-size: 16px;
  }

  .email-error {
    top: -35px;
  }

  .generate-ticket-btn {
    font-size: 20px;
    padding: 15px;
  }

  body::after {
    left: 6px;
    height: 900px;
    background: url("/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg") no-repeat bottom left;
    background-size: 55%;
    bottom: 0px;
  }

  footer {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  body {
    background: url("/assets/images/background-mobile.png") center/cover no-repeat;
  }

  .logo {
    width: 200px;
  }

  fieldset {
    width: 75%;
  }

  .heading {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .subtext {
    font-size: 0.5rem;
    margin-bottom: 20px;
  }

  .ribbon-top {
    top: 15px;
    left: 65%;
    width: 100px;
  }

  label {
    font-size: 20px;
  }

  .upload-box {
    font-size: 13px;
    align-content: center;
  }

  .upload-info {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .circle-pattern-middle {
    width: 100px;
  }

  .input-box {
    height: 50px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .email-error {
    top: -22px;
  }

  .generate-ticket-btn {
    font-size: 15px;
    padding: 15px;
  }

  body::after {
    bottom:-9vh;
    height: 500px;
    width: 250px;
    background-size: 100%;
  }

  footer {
    margin-top: 10px;
    font-size: 10px;
  }
}

@media (max-width: 380px) {
  body::after {
    bottom:-22vh;  
  }
  
}