:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(245, 15%, 58%);
  --color-gray-mid: hsl(244, 22%, 75%);
  --color-bg-gradient-start: hsl(7, 86%, 67%);
  --color-bg-gradient-end: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inconsolata", monospace;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  background: url("/assets/images/background-mobile.png") center/cover no-repeat;
  color: var(--color-white);
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/pattern-lines.svg") top/cover no-repeat;
  z-index: -1;
  opacity: 1;
}

.background-img {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.ribbon-top {
  position: absolute;
  top: 50px;
  left: 68%;
  width: clamp(120px, 30vw, 350px);
}

.circle-pattern-top {
  position: absolute;
  top: -50px;
  left: 50px;
  width: 100px;
}

.circle-pattern-middle {
  position: absolute;
  width: 100px;
  top: 53%;
  left: 65%;
}
.ribbon-bottom{
  background-image: url(./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg);
  top:50%;
  bottom:-10%;
  max-width: 80%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo {
  margin-top: 20px;
  width: 100px;
}

.heading {
  font-size: clamp(1rem, 6vw, 4rem);
  margin-top: 20px;
}

.ticket-header-name {
  background: linear-gradient(to right, var(--color-bg-gradient-start), var(--color-bg-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticket-header-subtext {
  width: 70%;
  margin: 10px auto 40px;
  font-size: clamp(0.5rem, 2vw, 1rem);
  color: var(--color-gray-light);
}

.colored-email {
  color: var(--color-bg-gradient-start);
}

.ticket {
  background: url("/assets/images/pattern-ticket.svg") center/contain no-repeat;
  height: 130px;
  aspect-ratio: 2 / 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 20px;
  margin: 50px 20px 0;
}

.ticket-logo {
  width: clamp(120px, 30%, 900px);
  margin: 0;
  position: relative;
  left: -55px;
  top: -5px;
}

.ticket-event-date-location {
  font-size: 0.6rem;
  color: var(--color-gray-light);
  text-align: left;
  margin-left: 20px;
  position: relative;
  top: -5px;
}

.ticket-id {
  font-size: 0.9rem;
  color: var(--color-gray-light);
  transform: rotate(90deg) translate(-10px, -700%);
  display: inline-block;
  text-align: right;
}

.ticket-bottom {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  top: -25px;
  left: -4px;
}

.preview-img {
  height: 40px;
  border-radius: 8px;
}

.ticket-owner-info {
  font-size: 0.8rem;
  text-align: left;
  position: relative;
  top: 10px;
  gap: 30px;
}

.git-info {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: var(--color-gray-mid);
  gap: 0.5rem;
}

.git-info img {
  width: 20px;
}

footer {
  margin: 5px;
  color: var(--color-gray-light);
  font-size: 0.4rem;
}

.attribution a {
  color: var(--color-white);
  text-decoration: none;
}

/* Responsive styles */

@media (min-width: 360px) {
  .ribbon-top {
    top:5px;
    width: clamp(120px, 30vw, 350px);
  }

  .logo {
    margin-top: 20px;
    width: 35%;
  }

  .heading {
    font-size: clamp(1.5rem, 6vw, 4rem);
    margin: 30px 0 10px;
  }

  .ticket-header-subtext {
    width: 60%;
  }

  .ticket {
    height: 170px;
    margin-top: 20%;
  }

  .ticket-logo {
    width: clamp(150px, 30%, 900px);
    left: -80px;
  }

  .ticket-event-date-location {
    font-size: 0.8rem;
    margin-left: 30px;
  }

  .ticket-id {
    transform: rotate(90deg) translate(-10px, -900%);
  }

  .ticket-bottom {
    top: -5px;
    left: -4px;
  }

  .preview-img {
    height: 50px;
  }

  footer {
    font-size: 0.6rem;
  }
}

@media (min-width: 700px) {
  body {
    background: url("/assets/images/background-tablet.png") center/cover no-repeat;
  }

  .ribbon-top {
    top: 70px;
    left: 70%;
  }

  .logo {
    width: 30%;
  }

  .heading {
    margin: 30px 0 10px;
  }

  .ticket-header-subtext {
    width: 45%;
  }

  main {
    display: grid;
  }

  .ticket {
    height: 255px;
    gap: 2rem;
    margin: 70px 0 0;
  }

  .ticket-logo {
    width: 240px;
    left: -120px;
    margin-top: 5px;
  }

  .ticket-event-date-location {
    font-size: 1.2rem;
    margin-left: 70px;
  }

  .preview-img {
    height: 60px;
  }

  .ticket-owner-info {
    font-size: 1.5rem;
  }

  .git-info {
    font-size: 1rem;
  }

  .ticket-id {
    font-size: 1.2rem;
    transform: rotate(90deg) translate(-10px, -1050%);
    text-align: right;
  }

  footer {
    font-size: 0.9rem;
  }
  .ribbon-bottom{
    background-image: url(./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg);
    top:80%;
    bottom:0;
  }
}

@media (min-width: 1024px) {
  body {
    background: url("/assets/images/background-desktop.png") center/cover no-repeat;
  }
  .ribbon-bottom{
    background-image: url(./assets/images/pattern-squiggly-line-bottom-desktop.svg);
    background-size:750px;
    height: 80%;
    width:80%;
    top:20%;
    bottom:0;
  }

  .logo {
    width: 20%;
  }

  .ticket-header-subtext {
    width: 30%;
  }
}
